

body{
    font-family: poppins,sans-serif;
}
.icon-color{
    border-radius: 50%;
    background-color: #242424;
    width: 3vw;
    height: 3vw;
}
@media only screen and (max-width: 600px) {
    .getstr{
        
    }
  }